@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .clip-bottom {
    clip-path: polygon(0 0, 0 100%, 0% 100%, 100% 85%, 100% 0);
  }
  .clip-both {
    clip-path: polygon(0 15%, 0 100%, 0% 100%, 100% 85%, 100% 0);
  }
  @media (min-width: 320px) and (max-width: 759px) {
    .clip-bottom {
      clip-path: polygon(0 0, 0 100%, 0% 100%, 100% 95%, 100% 0);
    }
    .clip-both {
      clip-path: polygon(0 05%, 0 100%, 0% 100%, 100% 95%, 100% 0);
    }
  }
}

html {
  font-family: 'Inter', sans-serif;
}
.DocSearch-Button-Keys {
  display: none !important;
}
.DocSearch-Button-Container {
  background-color: transparent !important;
  width: 168px;
  height: 32px;
 padding: 8px 8px;
 margin-right: 10px;

}
 @media (max-width: 730px) {
  .DocSearch-Button-Container {
  width: 40px;
  height: 40px;
 padding: 0px;
 border: none;
  }
 }

.DocSearch-Button-Container:hover, .DocSearch-Button-Container:focus, .DocSearch-Button-Container:active {
  outline: 0 none transparent;
  border: none;
  background-color: transparent;
 }
 .DocSearch-Button:active, .DocSearch-Button:focus, .DocSearch-Button:hover {
  border: none;
  outline: 0 none transparent;
  background-color: transparent;
 }
/* CARBON ADS */

#carbonads {
  display: block;
  max-width: 300px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: flex;
  position: fixed;
  right: 10px;
  top: 120px;
  font-size: 12px;
  line-height: 1.45;
  background-color: #f9f9f9;
  border: 1px dashed;
  border-color: #cacaca;
  z-index: 100;
}
@media (min-width: 775px) and (max-device-width: 1068px) {
  #carbonads {
    top: 140px;
  }
}
@media (max-width: 775px) {
  #carbonads {
    display: none;
    
  }
}

#carbonads > span {
  position: relative;
  display: block;
  padding: 10px;
  border-radius: 4px
}

#carbonads .carbon-wrap {
  display: flex
}

#carbonads .carbon-img {
  margin-right: 10px;
  line-height: 1
}

#carbonads .carbon-text {
  margin-bottom: 12px;
  color: #637381;
  text-decoration: none
}

#carbonads .carbon-poweredby {
  position: absolute;
  bottom: 10px;
  left: 152px;
  color: #c5cdd0;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: .5px;
  font-weight: 500;
  font-size: 10px;
  line-height: 1
}

#carbonads .carbon-poweredby:hover {
  color: #637381
}

@media only screen and (min-width: 320px) and (max-width: 759px) {
  .carbon-text {
    font-size: 14px
  }
}

/** Style Algolia */

.search-input {
	flex-grow: 1;
	box-sizing: border-box;
	width: 194px;
	margin: 0 auto;
	padding: 5px;
	overflow: visible;
	font-weight: 500;
	font-size: 1rem;
	font-family: inherit;
	line-height: inherit;
	display: flex;
	border-color: white !important;
	color: white !important;
	border-style: solid;
	border-width: 2px;
	border-radius: 0.25rem;
	outline: 0;
	cursor: pointer;
	transition-timing-function: ease-out;
	transition-duration: 0.2s;
	transition-property: border-color, color;
	-webkit-font-smoothing: antialiased;
  
}
.search-input svg {
margin-left: 40px;
}
.search-input span {
  margin-left: 15px;
}
.search-input:hover,
.search-input:focus {
	color: white;
	border-color: white;
}
.search-input:hover::placeholder,
.search-input:focus::placeholder {
	color: white;
}
.search-input::placeholder {
	color: white;
}
.search-hint {
	position: absolute;
	top: 7px;
	right: 19px;
	padding: 3px 5px;
	display: none;
	align-items: center;
	justify-content: center;
	letter-spacing: 0.125em;
	font-size: 13px;
	font-family: inherit;
	pointer-events: none;
	border-color: white;
	color: white;
	border-style: solid;
	border-width: 1px;
	border-radius: 0.25rem;
	line-height: 14px;
}

@media (min-width: 50em) {
	.search-hint {
		display: flex;
	}
}
.navSearch svg{
  color: black;
}

.herobtn span{ 
  margin: 0 auto;
	color: white !important;
  font-weight: 600;
}
  .herobtn svg {
    color: white !important;
  }
  .herobtn span:hover{
    outline: 0 none transparent;
  }
.anchor {
  position: relative;
  margin-bottom: 20px;
}
.anchor #community {
  position: absolute;
  left: 0;
  top: -80px; /* change this value to match the height of the header */
 
}