@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .clip-bottom {
    clip-path: polygon(0 0, 0 100%, 0% 100%, 100% 85%, 100% 0);
  }
  .clip-both {
    clip-path: polygon(0 15%, 0 100%, 0% 100%, 100% 85%, 100% 0);
  }
  @media (min-width: 320px) and (max-width: 759px) {
    .clip-bottom {
      clip-path: polygon(0 0, 0 100%, 0% 100%, 100% 95%, 100% 0);
    }
    .clip-both {
      clip-path: polygon(0 05%, 0 100%, 0% 100%, 100% 95%, 100% 0);
    }
  }
}

html {
  font-family: 'Inter', sans-serif;
}
.DocSearch-Button-Keys {
  display: none;
}
.DocSearch-Button-Container {
  /* background-color: white; */
  width: 168px;
  height: 38px;
 padding: 8px 8px;
 margin-right: 10px;
 border: 1px solid #E3E8EE;
 border-radius: 4px;

 @media (max-width: 730px) {
  width: 40px;
  height: 40px;
  
 padding: 0px;
 border: none;
 }
}
.DocSearch-Button-Container:hover {
  border: none;
 }
/* CARBON ADS */

#carbonads {
  max-width: 300px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: flex;
  position: fixed;
  right: 10px;
  top: 90px;
  font-size: 12px;
  line-height: 1.45;
  background-color: #f9f9f9;
  border: 1px dashed;
  border-color: #cacaca;
  z-index: 100;
}

@media (max-width: 1420px) {
  #carbonads {
    display: block;
    position: relative;
    right: unset;
    top: unset;
    margin: auto;
    margin-bottom: 30px;
    overflow: hidden;
    max-width: 728px;
    font-size: 24px;
    box-sizing: content-box
  }
}

#carbonads > span {
  position: relative;
  display: block;
  padding: 10px;
  border-radius: 4px
}

#carbonads .carbon-wrap {
  display: flex
}

#carbonads .carbon-img {
  margin-right: 10px;
  line-height: 1
}

#carbonads .carbon-text {
  margin-bottom: 12px;
  color: #637381;
  text-decoration: none
}

#carbonads .carbon-poweredby {
  position: absolute;
  bottom: 10px;
  left: 152px;
  color: #c5cdd0;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: .5px;
  font-weight: 500;
  font-size: 10px;
  line-height: 1
}

#carbonads .carbon-poweredby:hover {
  color: #637381
}

@media only screen and (min-width: 320px) and (max-width: 759px) {
  .carbon-text {
    font-size: 14px
  }
}