@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .clip-bottom {
    clip-path: polygon(0 0, 0 100%, 0% 100%, 100% 85%, 100% 0);
  }

  .clip-both {
    clip-path: polygon(0 15%, 0 100%, 0% 100%, 100% 85%, 100% 0);
  }

  .clip-top {
    clip-path: polygon(0 15%, 0 100%, 0% 100%, 100% 100%, 100% 0);
  }

  @media (min-width: 320px) and (max-width: 759px) {
    .clip-bottom {
      clip-path: polygon(0 0, 0 100%, 0% 100%, 100% 95%, 100% 0);
    }

    .clip-both {
      clip-path: polygon(0 05%, 0 100%, 0% 100%, 100% 95%, 100% 0);
    }

    .clip-top {
      clip-path: polygon(0 05%, 0 100%, 0% 100%, 100% 100%, 100% 0);
    }
  }
}

.text-stroke-1 {
  text-shadow: black 0 0 1em;
}

html {
  font-family: 'Inter', sans-serif;
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

.DocSearch-Button-Keys {
  display: none !important;
}

.herobtn .DocSearch-Button-Container {
  background-color: transparent !important;
  justify-content: center;
  width: 168px;
  height: 32px;
  padding: 8px 8px;
  margin-right: 10px;
  /* border: 1px solid #E3E8EE;
border-radius: 4px; */
}

@media (max-width: 1027px) {
  .DocSearch-Button-Container {
    height: 40px;
    padding: 0px;
    border: none;
  }

  .DocSearch-Button {
    margin: 0;
  }

  .DocSearch-Button-Placeholder {
    display: inline;
  }

  .herobtn .DocSearch-Button-Container {
    margin-right: 4px;
    margin-left: 4px;
  }
}

@media (max-width: 450px) {
  .DocSearch-Button {
    margin: 0;
  }
}

.DocSearch-Button:active,
.DocSearch-Button:focus,
.DocSearch-Button:hover {
  outline: 0 none transparent !important;
  border: transparent !important;
  background-color: transparent;
  box-shadow: none;
}

/** Style Algolia */

.search-input {
  flex-grow: 1;
  box-sizing: border-box;
  width: 194px;
  margin: 0 auto;
  padding: 5px;
  overflow: visible;
  font-weight: 500;
  font-size: 1rem;
  font-family: inherit;
  line-height: inherit;
  display: flex;
  border-color: white !important;
  color: white !important;
  border-style: solid;
  border-width: 2px;
  border-radius: 0.25rem;
  outline: 0;
  cursor: pointer;
  transition-timing-function: ease-out;
  transition-duration: 0.2s;
  transition-property: border-color, color;
  -webkit-font-smoothing: antialiased;
}

.search-input svg {
  margin-left: 40px;
}

.search-input span {
  margin-left: 15px;
}

.search-input:hover,
.search-input:focus {
  color: white;
  border-color: white;
}

.search-input:hover::placeholder,
.search-input:focus::placeholder {
  color: white;
}

.search-input::placeholder {
  color: white;
}

.search-hint {
  position: absolute;
  top: 7px;
  right: 19px;
  padding: 3px 5px;
  display: none;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.125em;
  font-size: 13px;
  font-family: inherit;
  pointer-events: none;
  border-color: white;
  color: white;
  border-style: solid;
  border-width: 1px;
  border-radius: 0.25rem;
  line-height: 14px;
}

@media (min-width: 50em) {
  .search-hint {
    display: flex;
  }
}

.navSearch svg {
  color: black;
}

.herobtn span {
  color: white !important;
  font-weight: 600;
}

.herobtn svg {
  color: white !important;
}

.herobtn span:hover {
  outline: 0 none transparent;
}

.anchor {
  position: relative;
  margin-bottom: 20px;
}

.anchor #community {
  position: absolute;
  left: 0;
  top: 35px;
  /* change this value to match the height of the header */
}

/* In your CSS file */
.mt-custom {
  margin-top: 4.4rem;
}

@media (max-width: 767px) {
  .orbits {
    display: none;
  }
}

.orbit-container {
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  top: -200px;
}

.orbit {
  position: absolute;
  border-radius: 100%;
  border: solid 3px #f3f3f4;
  transition: 0.2s;
}

.orbit > div {
  cursor: pointer;
}

.orbit > div > img {
  border-radius: 100%;
}

.title {
  line-height: 0.9;
  font-size: 60px;
}

#first-orbit {
  --n: 6;
  /* number of item */
  --d: 70s;
  /* duration */
  width: 600px;
  height: 600px;
  top: 165px;
  left: calc(50% - 300px);
  position: relative;
  display: grid;
  grid-template-columns: 35px;
  grid-template-rows: 35px;
  place-content: center;
}

#second-orbit {
  --no: 7;
  /* number of item */
  --de: 80s;
  /* duration */
  width: 800px;
  height: 800px;
  top: 75px;
  left: calc(50% - 400px);
  display: grid;
  grid-template-columns: 35px;
  grid-template-rows: 35px;
  place-content: center;
}

#third-orbit {
  --ni: 7;
  /* number of item */
  --ds: 80s;
  /* duration */
  width: 1000px;
  height: 1000px;
  top: -10px;
  left: calc(50% - 500px);
  display: grid;
  grid-template-columns: 35px;
  grid-template-rows: 35px;
  place-content: center;
}

.item,
.item-2,
.item-3 {
  grid-area: 1/1;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
}

.item {
  animation: orbit-spin var(--d) linear infinite;
  transform: rotate(0) translate(300px) rotate(0);
}

.item-2 {
  animation: orbit-spin2 var(--de) linear infinite;
  transform: rotate(-0) translate(400px) rotate(-0);
}

.item-3 {
  animation: orbit-spin3 var(--ds) linear infinite;
  transform: rotate(0) translate(500px) rotate(0);
}

@keyframes orbit-spin {
  100% {
    transform: rotate(1turn) translate(300px) rotate(-1turn);
  }
}

.item:nth-child(1) {
  animation-delay: calc(-0 * var(--d) / var(--n));
}

.item:nth-child(2) {
  animation-delay: calc(-1 * var(--d) / var(--n));
}

.item:nth-child(3) {
  animation-delay: calc(-2 * var(--d) / var(--n));
}

.item:nth-child(4) {
  animation-delay: calc(-3 * var(--d) / var(--n));
}

.item:nth-child(5) {
  animation-delay: calc(-4 * var(--d) / var(--n));
}

.item:nth-child(6) {
  animation-delay: calc(-5 * var(--d) / var(--n));
}

@keyframes orbit-spin2 {
  100% {
    transform: rotate(-1turn) translate(400px) rotate(1turn);
  }
}

.item-2:nth-child(1) {
  animation-delay: calc(-0 * var(--de) / var(--no));
}

.item-2:nth-child(2) {
  animation-delay: calc(-1 * var(--de) / var(--no));
}

.item-2:nth-child(3) {
  animation-delay: calc(-2 * var(--de) / var(--no));
}

.item-2:nth-child(4) {
  animation-delay: calc(-3 * var(--de) / var(--no));
}

.item-2:nth-child(5) {
  animation-delay: calc(-4 * var(--de) / var(--no));
}

.item-2:nth-child(6) {
  animation-delay: calc(-5 * var(--de) / var(--no));
}

.item-2:nth-child(7) {
  animation-delay: calc(-6 * var(--de) / var(--no));
}

.item-2:nth-child(8) {
  animation-delay: calc(-7 * var(--de) / var(--no));
}

.item-2:nth-child(9) {
  animation-delay: calc(-8 * var(--de) / var(--no));
}

@keyframes orbit-spin3 {
  100% {
    transform: rotate(1turn) translate(500px) rotate(-1turn);
  }
}

.item-3:nth-child(1) {
  animation-delay: calc(-0 * var(--ds) / var(--ni));
}

.item-3:nth-child(2) {
  animation-delay: calc(-1 * var(--ds) / var(--ni));
}

.item-3:nth-child(3) {
  animation-delay: calc(-2 * var(--ds) / var(--ni));
}

.item-3:nth-child(4) {
  animation-delay: calc(-3 * var(--ds) / var(--ni));
}

.item-3:nth-child(5) {
  animation-delay: calc(-4 * var(--ds) / var(--ni));
}

.item-3:nth-child(6) {
  animation-delay: calc(-5 * var(--ds) / var(--ni));
}

.item-3:nth-child(7) {
  animation-delay: calc(-6 * var(--ds) / var(--ni));
}

.item-3:nth-child(8) {
  animation-delay: calc(-7 * var(--ds) / var(--ni));
}

.item-3:nth-child(9) {
  animation-delay: calc(-8 * var(--ds) / var(--ni));
}

.top-12 {
  top: 48px;
}

.bg-ambassador {
  background-image: url(/img/avatars/benhutton.webp);
}

.bg-slack {
  background-image: url(/img/home-page/slack.png);
}

.bg-meeting {
  background-image: url(/img/event/meet.png);
}

.bg-blog {
  background-image: url(/img/event/Json-Schema-Blog.png);
}
